<div class="container-fluid">
    <div class="heading">
        <h1 class="display-1" style="text-align: center;">Quotes</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            
            <app-quoteform (addQuote)="addNewQuote($event)"></app-quoteform>
            
        </div>
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i=index'>
                <p>{{quote.quote}}</p>
                <p>{{quote.author}}</p>
                <p>{{quote.publisher}}</p>
                <p>{{quote.voteCount}}</p>
                <p>{{quote.dateCreated}}</p>
                <i (click)='upvote(i)' (click)='calculatebestvote()'><fa-icon [icon]='thumbsUpIcon' size="2x"></fa-icon></i>
                &nbsp;
                &nbsp;
                &nbsp;
                <i (click)='downvote(i)'(click)='calculatebestvote()'><fa-icon [icon]='thumbsDownIcon' size="2x"></fa-icon></i>
                <span *ngIf='i ==bestquote && quote.voteCount>0'>Best Quote</span>
            </div>
        </div>
    </div>
   
   
</div>
