<div class="container-fluid">
    <h2 class="display-5">Add a quote here</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" rows="3" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required></textarea>
        </div>
        <!-- Display{{newQuote.quote}} -->
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
        </div>
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher='ngModel' required>
        </div>
        <br>
        <div class="col text-center">
            <button type="submit" class="btn btn-success" style="background-color: aqua; color: black;">Add Quote</button>
        </div>
    </form>
</div>